<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhangwei.hgshop.dao.SpecDao">

	<!--List<Spec> list(String name); -->
	<resultMap type="spec" id="specMaper">
		<id property="id" column="id"></id>	
		<result property="specName" column="spec_name"/>
		<collection property="options" column="id" select="selectOptions"></collection>
	</resultMap>
	<select id="selectOptions" resultType="SpecOption">
		select id,option_name as optionName,spec_id as specId,orders from hg_spec_option where spec_id = #{value}
	</select>
	<select id="list" resultMap="specMaper">
	select * from hg_spec
	<where>
		<if test="value!=null and value!=''">
			and spec_name like concat('%',#{value},'%')
		</if>
	</where>
	
	</select>
	<!-- int addSpec(Spec spec); -->
	<insert id="addSpec" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
	insert into hg_spec(spec_name) values(#{specName})
	
	</insert>
	<!-- int addOptions(SpecOption specOption); -->
	<insert id="addOptions">
		insert into hg_spec_option(option_name,spec_id,orders) values (#{optionName},#{specId},#{orders})
	</insert>


	<!-- int updateSpec(Spec spec); -->

	<!-- int deleteSpecOptions(int id); -->
	<delete id="deleteSpecOptions">
		delete from hg_spec_option where spec_id=#{id}
	</delete>


	<!-- int deleteSpec(int id); -->
	<delete id="deleteSpec">
		delete from hg_spec where id=#{id}
	</delete>
	
	
	<!-- Spec get(int id); -->

	<!-- int deleteSpecOptionsBatch(int[] id); -->
	<delete id="deleteSpecOptionsBatch">
		delete from hg_spec_option where spec_id in
		<foreach collection="array" open="(" close=")" separator="," item="specid">
			#{specid}
		</foreach>
	</delete>
	<!-- int deleteSpecBatch(int[] id); -->
	<delete id="deleteSpecBatch">
		delete from hg_spec where id in
		<foreach collection="array" open="(" close=")" separator="," item="specid">
			#{specid}
		</foreach>
	
	</delete>
<select id="listAll" resultType="Spec">
   		select id, spec_name as specName from hg_spec ORDER BY spec_name
   	</select>
</mapper>